name: Lint Code Base

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install shellcheck
        run: sudo apt-get update && sudo apt-get install -y shellcheck

      - name: Lint reflector script
        run: shellcheck reflector/reflector

      - name: Lint Zsh files
        run: |
          find . -type f \( -name ".zshrc" -o -name ".zprofile" \) -print0 | while IFS= read -r -d $'\\0' file; do
            echo "Checking ${file}..."
            zsh -n "${file}"
          done

